@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --moderate-violet: hsl( 263, 55%, 52% );
    --very-dark-grayish-blue: hsl( 217, 19%, 35% );
    --very-dark-blackish-blue: hsl( 219, 29%, 14% );
    --white: hsl( 0, 0%, 100% );

    --light-gray: hsl( 0, 0%, 81% );
    --light-grayish-blue: hsl( 210, 46%, 95% );

    /* "Verified Graduate" has the same color as the person's name with 50% opacity */
    /* Review paragraphs inside the quotations have the same color as well, but are at 70% opacity */

    --fs: 13px;

    --ff-Barlow-Semi-Condensed: 'Barlow Semi Condensed', sans-serif;

    --fw-medium: 500;
    --fw-semiBold: 600;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}